.dataPage {
  min-height: calc( 100vh - 116px );
  background-color: #191919;
  display: flex;
  align-items: center;

  .customBorder {
    border-bottom: 1px solid rgba(255, 20, 147, 0.7);
  }

  .dataItem {
    border-bottom: 1px solid rgba(0, 255, 255, 0.5);
  }

  .linkItem {
    color: white;
    text-decoration: none;
  }

  .textColor {
    color: white;
  }

}