body {
  margin: 0;
  //font-family: Comic Sans MS, Comic Sans, cursive;
}

.app {
  min-height: 100vh;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
}